.main {
  background-color: black;
  font: 'Poppins';
}
.normalHeading{
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  
  /* identical to box height, or 139% */
  text-transform: uppercase;
  
  color: #CEA234;
}
